/* HEADER */

.header {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  margin-bottom: 90px;
}

.header {
  &__img {
    width: 357px;
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 218px;
    height: 50px;
    box-sizing: border-box;
    border: 1px solid var(--color5);

    color: var(--color5);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    text-decoration: none;
  }

  &__link::before {
    content: "";
    background-image: url(../images/phone-icon.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 16px;
    height: 16px;
    margin-right: 8px;
  }
}
