/* SECTION 2 */

.clients {
  display: flex;
  align-items: flex-end;
  height: 1054px;
  background-color: var(--color4);
  margin-bottom: 240px;
}

.clients {
  &__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 72px;
  }

  &__link {
    color: var(--color5);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    text-decoration: none;
    width: 180px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border: 1px solid var(--color5);
  }

  &__block {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 390px 390px;
  }

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__item--flex-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
  }

  &__text {
    text-align: center;
    font-size: 22px;
    font-weight: 500;
    line-height: 28px;
    padding: 0 80px;
  }
}
