.networks {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 160px;
}

.networks {
  &__blocks {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 470px);
    gap: 30px;
    width: 100%;
  }

  &__block {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 44px;
  }

  &__block--type1 {
    grid-column-end: span 2;
  }

  &__block--type2 {
    grid-column-end: span 3;
  }

  &__text {
    line-height: 28px;
    text-align: center;
  }
}
