/* ARTICLE 2 */

.build {
  margin-bottom: 190px;
}

.build {
  &__blocks {
    margin-top: 95px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 260px 30px 100px 135px 275px;
    gap: 25px 30px;
  }

  &__block {
    padding-top: 45px;
    padding-left: 50px;
  }

  &__block--type1 {
    grid-row-start: 1;
    grid-row-end: 3;
  }

  &__block--type2 {
    grid-row-start: 1;
    grid-row-end: 4;
  }

  &__block--type3 {
    grid-row-start: 1;
    grid-row-end: 2;
  }

  &__block--type4 {
    grid-row-start: 3;
    grid-row-end: -1;
  }

  &__block--type5 {
    grid-row-start: 4;
    grid-row-end: -1;
    margin-bottom: 25px;
  }

  &__block--type6 {
    grid-row-start: 2;
    grid-row-end: 5;
  }

  &__block--type7 {
    grid-row-start: 5;
    grid-row-end: -1;
  }

  &__text {
    font-weight: 400;
  }

  &__span {
    font-weight: 700;
  }

  &__text--excavator {
    color: var(--color2);
    font-weight: 500;
  }
}
