.yellow-brend {
  background-color: var(--color5);
}

.brown-light {
  background-color: var(--color9);
}

.brown-dark {
  background-color: var(--color6);
}

.beige-light {
  background-color: var(--color13);
}

.beige-middle {
  background-color: var(--color7);
}

.beige-dark {
  background-color: var(--color8);
}

.black-light {
  background-color: var(--color10);
}

.black-middle {
  background-color: var(--color11);
}

.black-dark {
  background-color: var(--color4);
}

.black-rich {
  background-color: var(--color12);
}