@font-face {
    font-family: "Gilam";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/GilamBook-400.woff2");
    font-display: swap;
  }
  
  @font-face {
    font-family: "Gilam";
    font-style: normal;
    font-weight: 500;
    src: url("../fonts/GilamRegular-500.woff2");
    font-display: swap;
  }
  
  @font-face {
    font-family: "Gilam";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/GilamBold-700.woff2");
    font-display: swap;
  }