body {
    font-family: "Gilam", sans-serif;
    color: var(--color1);
    font-size: 20px;
    font-weight: 700;
    line-height: normal;
    background-color: var(--color3);
  }
  
  .container {
    width: 90%;
    max-width: 1460px;
    margin: 0 auto;
  }

  h2 {
    font-size: 50px;
  }
  
  h3 {
    line-height: 28px;
    margin: 42px 0;
  }
  