<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>SK Infrustructure</title>
  <link rel="icon" href="./images/favicon-5.png" />
  <link rel="stylesheet" href="./styles/main.css" />
</head>