<article class="networks">
  <h2>Зовнішні теплові мережі</h2>
  <h3>
    Будівельна компанія "Інфраструктура" здійснює повний перелік робіт з
    монтажу зовнішніх теплових мереж та
    <br />
    індивідуальних теплових пунктів на житлових та промислових об'єктах:
  </h3>
  <div class="networks__blocks">
    <div class="networks__block networks__block--type1 brown-dark">
      <p class="networks__text">Земляні роботи</p>
    </div>
    <div class="networks__block networks__block--type1 beige-middle">
      <p class="networks__text">
        Підземне прокладання трубопроводів та введення в будівлю
      </p>
    </div>
    <div class="networks__block networks__block--type1 yellow-brend">
      <p class="networks__text">Влаштування каналів</p>
    </div>
    <div class="networks__block networks__block--type2 beige-dark">
      <p class="networks__text">
        Влаштування нерухомих опор поза камерами
      </p>
    </div>
    <div class="networks__block networks__block--type2 brown-light">
      <p class="networks__text">Пристрій з/б колодязів</p>
    </div>
  </div>
</article>