<article class="build">
  <h2>Власний парк будівельної техніки:</h2>
  <div class="build__blocks">
    <div class="build__block build__block--type1 black-dark">
      <p class="build__text">
        Мулосмоктальна машина<br />
        <span>КАМАЗ 65115 КО-530-01</span>
      </p>
    </div>
    <div class="build__block build__block--type2 black-light">
      <p class="build__text">
        Каналопромивальна машина<br />
        <span class="build__span">КАМАЗ 3572 КО-564-20</span>
      </p>
    </div>
    <div class="build__block build__block--type3 black-middle">
      <p class="build__text">Екскаватор-навантажувач</p>
    </div>
    <div class="build__block build__block--type4 black-middle">
      <p class="build__text">Навантажувач</p>
    </div>
    <div class="build__block build__block--type5 yellow-brend">
      <p class="build__text build__text--excavator">Екскаватор</p>
    </div>
    <div class="build__block build__block--type6 black-dark">
      <p class="build__text">КАМАЗ бортовий з КМУ</p>
    </div>
    <div class="build__block build__block--type7 black-rich">
      <p class="build__text"><span>Каток</span></p>
    </div>
  </div>
</article>