<section class="clients">
  <div class="container">
    <div class="clients__header">
      <h2>Наші клієнти та проекти</h2>
      <a class="clients__link" href="#">Усі проекти</a>
    </div>

    <div class="clients__block">
      <div class="clients__item brown-dark">
        <img src="./images/eid-title.png" alt="Title EID" />
      </div>
      <div class="clients__item clients__item--flex-column beige-light">
        <img src="./images/sg-logo.png" alt="Logo Set Group" />
        <img src="./images/sg-title.svg" alt="Title Set Group" />
        <p class="clients__text">
          Роботи з монтажу прифундаментного дренажу <br />за адресою:
          <br />Україна, Киів, пр. Перемоги, <br />б. 87
        </p>
      </div>
      <div class="clients__item yellow-brend">
        <img src="./images/sg-title.svg" alt="Title Set Group" />
      </div>
      <div class="clients__item clients__item--flex-column beige-dark">
        <img src="./images/sg-logo.png" alt="Logo Set Group" />
        <img src="./images/eid-title.png" alt="Title EID" />
      </div>
      <div class="clients__item brown-light">
        <img src="./images/sg-title.svg" alt="Title Set Group" />
      </div>
      <div class="clients__item brown-dark">
        <img src="./images/eid-title.png" alt="Title EID" />
      </div>
    </div>
  </div>
</section>